<template name="dt_buttons">
    <div class="tabular-dt-buttons">

        {{#each btn in beforeButtons }}
            {{> Template.dynamic template=btn }}
        {{/each}}

        {{#if haveInfoButton }}
            {{> info_btn }}
        {{/if}}

        {{#if haveEditButton }}
            {{> edit_btn }}
        {{/if}}

        {{#if haveDeleteButton }}
            {{> delete_btn }}
        {{/if}}

        {{#each btn in afterButtons }}
            {{> Template.dynamic template=btn }}
        {{/each}}

    </div>
</template>
