<template name="dt_settings">
    <div class="tabular-dt-settings ui-right">

        {{#if haveDropdown }}
            <div class="dropdown">
                <button class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false" title="{{ i18n key="settings.title" }}">
                    <span class="fa-solid fa-fw fa-gear"></span>
                </button>
                <ul class="dropdown-menu">
                    {{#each it in optionsList }}
                        <li>
                            <a class="{{ css it }}" data-event="{{ event it }}" href="#">
                                {{{ icon it }}}
                                {{{ label it }}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{else}}
            <button class="btn btn-sm btn-outline-primary no-dropdown" title="{{ i18n key="settings.title" }}">
                <span class="fa-solid fa-fw fa-gear"></span>
            </button>
        {{/if}}

    </div>
</template>
